@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 4rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.apresentacao__conteudo {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family:"Krona One", sans-serif;;
}

.apresentacao__conteudo__texto {
    font-size: 1.125rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #22D4FD;
    color: #000;
    width: 180px;
    text-align: center;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

